<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Virtuora Technologies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/home.css" type="text/css"/>
    

    </head>
    <body>
        <div class="wrapper">
            <h1>Welcome to Virtuora<span class="dot">.</span></h1>
            <br>
            <br>
            <center>
                <form action="/login">
                    <button id="button"><i class="fa fa-user"></i>Login</button>
                </form>
            </center>
            <br>
            <br>
            <br>
            <p>Follow us on social media</p>
            <div class="icons">
              <a href="https://www.facebook.com/virtuora/"><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-paper-plane"></i></a>
            </div>
           </div>
      
        
        
    </body>

</html>

