<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Virtuora Technologies</title>
    </head>
    <body>
        <h1> Sign Up Form </h1>
        <form method="POST" action="/register/admin">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password"><br>   
            <button> Submit </button>
        </form>
        <br>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/logout">Logout!</a></li>
        <li><a href="/login">Login!</a></li>
    </body>

</html>