<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Virtuora Technologies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/secret.css" type="text/css"/>
    </head>
    <body>
        <form align="right" name="form1" method="post" action="/logout">
            <input class="logoutLblPos" type="submit" value="Logout">
        </form>
        <% if(user.userType == 'admin') { %>
 
        <div class="wrapper">
            <h1>Welcome Admin<span class="dot">.</span></h1>
            <br>
            <br>
            <p>What would you like to do?</p>
            <center>
                    <button id="button" onclick="myFunction1()"><i class="fa fa-user"></i>Add Store Managers</button><br><br>
                    <button id="button" onclick="myFunction2()"><i class="fa fa-user"></i>Add Receptionist</button><br><br>
                    <div id="manager">
                        <form method="POST" action="/register/manager">
                            <input style="text-align: center; border-radius: 25px; border: 2px solid #4FEBFE; height: 35px;" type="text" name="username" placeholder="Enter manager username"><br><br>
                            <input style="text-align: center; border-radius: 25px; border: 2px solid #4FEBFE; height: 35px;" type="password" name="password" placeholder="Enter password"><br>   
                            <button id="button"> Submit </button>
                        </form>
                    </div>
                    <div id="receptionist">
                        <form method="POST" action="/register/receptionist">
                            <input style="text-align: center; border-radius: 25px; border: 2px solid #4FEBFE; height: 35px;" type="text" name="username" placeholder="Receptionist username"><br><br>
                            <input style="text-align: center; border-radius: 25px; border: 2px solid #4FEBFE; height: 35px;" type="password" name="password" placeholder="Enter password"><br>   
                            <button id="button"> Submit </button>
                        </form>      
                    </div>

            </center>
           </div>


        <% } %>


        <% if(user.userType == 'manager') { %>
            <div class="wrapper">
                <h1>Welcome Store Manager<span class="dot">.</span></h1>
            </div>
      
        <% } %>


        <% if(user.userType == 'receptionist') { %>
            
        <% } %>

        <!-- Scripts -->
        <script>
            function myFunction1() {
              var x = document.getElementById("manager");
              var y = document.getElementById("receptionist");
              if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
              } else {
                x.style.display = "none";
              }
            }
            function myFunction2() {
              var x = document.getElementById("receptionist");
              var y = document.getElementById("manager");
              if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
              } else {
                x.style.display = "none";
              }
            }
            
        </script>
    </body>

</html>